.container1{
    height:600px;
    background-position: center;
    opacity: 0.2;
    background-image: url("https://scontent.fhph1-2.fna.fbcdn.net/v/t1.6435-9/128255896_879142432822712_8831914308402454047_n.jpg?_nc_cat=105&ccb=1-4&_nc_sid=174925&_nc_ohc=SNUsSj8l0ZMAX_7kEEx&_nc_ht=scontent.fhph1-2.fna&oh=46fbfe7288eee43902393448136370d7&oe=6138B638");
}
.container{
    height:600px;
    padding:0px!important
}
.text1{
    position: absolute;
    top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 1000;
}
.btn_1{
    position: absolute;
    top:300px
}
.btn_2{
    position: absolute;
    top:200px
}
.form-lov{
    width:330px;
    height:250px;
    background-color: #ffba08;
    position: absolute;
    top:150px;
    left:20px;
    border-radius: 20px;
}
.wrap-input{
    position: absolute;
    bottom: 70px;
    left:70px;
}
.btn_3{
    position: absolute;
    bottom: 10px;
    left: 100px;
}
.img_3{
    height: 100px;
    width: 100px;
    position: absolute;
    top:100px;
    left:0px
}

.img_4{
    height: 100px;
    width: 100px;
    position: absolute;
    top:100px;
    right:0px;
}
.img_5{
    height: 100px;
    width: 120px;
    position: absolute;
    top:100px;
    left:105px;
}