@media(min-width: 600px){
    .meme_img{
        position: absolute;
        top:170px;
        left: 100px;
        height: 300px;
        width: 300px;
    }
    .meme_img2{
        position: absolute;
        top:190px;
        left: 300px;
        height: 300px;
        width: 300px;
    }
    .meme_img3{
        position: absolute;
        top:170px;
        left: 590px;
        height: 300px;
        width: 350px;
    }
}
@media(max-width: 600px){
    .meme_img{
        position: absolute;
        top:170px;
        left: 10px;
        height: 160px;
        width: 160px;
    }
    .meme_img2{
        position: absolute;
        top:190px;
        left: 120px;
        height: 160px;
        width: 160px;
    }
    .meme_img3{
        position: absolute;
        top:240px;
        left: 190px;
        height: 160px;
        width: 180px;
    }
}